{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-white">
    <div class="container">
      <div class="col-md-12">
        {{ range $index, $element := sort .Site.Data.contributors "name" }}

            <div class="row">
              <div class="col-md-4">
                  <div class="box-simple" style="margin-bottom: -100px;">
                      <img height="100" width="100" style="border-radius: 25px;" class="" alt="" src="{{ .avatar | absURL }}">
                  </div>
              </div>
              <div class="col-md-8">
                  <h3>{{ .name }}</h3>
                  <h5>{{ .position }}</h5>
              </div>
            </div>

        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
