{{ if gt (len .Site.Data.deployments) 0 }}
<section class="bar background-white">
    <div class="container">

{{ $.Scratch.Add "userCount" 0 }}
{{ $.Scratch.Add "personDays" 0 }}
{{ $.Scratch.Add "dataPoints" 0 }}
{{ range $index, $element := sort .Site.Data.deployments "weight" }}
  {{ $.Scratch.Add "userCount" (int $element.users) }}
  {{ $.Scratch.Add "personDays" (int (replace $element.persondays "," "")) }}
  {{ $.Scratch.Add "dataPoints" (int (replace $element.samples "," "")) }}
{{ end }}


      <div class="col-md-12">

        <div class="row equal deployments-box">
          <div class="col-md-4">
            <h2>Total Users:
            {{$.Scratch.Get "userCount" | lang.NumFmt 0}}</h2>
          </div>
          <div class="col-md-4">
            <h2>Person-Days:
            {{$.Scratch.Get "personDays" | lang.NumFmt 0}}</h2>
          </div>
          <div class="col-md-4">
            <h2>Data Points:
            {{ (div ($.Scratch.Get "dataPoints") 1000.0) | lang.NumFmt 3}} trillion</h2>
          </div>
        </div>

        <hr>

        {{ range $index, $element := sort .Site.Data.deployments "weight" }}
          <div class="row equal">

    				<div class="col-md-4">
              <div class="box-simple" style="margin-bottom: 0px;">
                  <div class="icon" style="font-size: 300%">
                      {{ slicestr .site 0 1}}
                  </div>
                  <h3>{{ $element.site }}</h3>
                  <h4>PI: {{ $element.pi }}</h4>
                  <h4>{{ $element.targets }}</h4>
              </div>
            </div>

            <div class="col-md-2">
              <h4>Users:</h4> {{ $element.users }}
              <h4>Person-Days:</h4> {{ $element.persondays }}
              <h4>Samples:</h4> {{ $element.samples }} billion

            </div>

            <div class="col-md-2">
              <h4>Sensors</h4>
              <ul class="deployments">
              {{ range $element.sensors }}
                <li> {{ . }} </li>
              {{ end }}
              </ul>
            </div>

            <div class="col-md-4">
              <h4>Description</h4>
              <p style="text-align: justify">{{ $element.description | markdownify }}</p>
            </div>

		       </div>
           <hr>
        {{ end }}
      </div>
    </div>
</section>
{{ end }}
