{{ if isset .Site.Params "video" }}
{{ if .Site.Params.video.enable }}
<section class="bar background-video">
    <div class="container">

      <div class="col-md-12">
        <div class="row">
          <h1 class="text-uppercase text-center">{{ .Site.Params.video.title }}</h1>
          <!-- <p class="lead">{{ .Site.Params.title.subtitle }}</p> -->
        </div>

        <div class="row">
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src={{ .Site.Params.video.url }}></iframe>
          </div>

        </div>
      </div>

    </div>
</section>
{{ end }}
{{ end }}
