{{ if isset .Site.Params "video" }}
{{ if .Site.Params.video.enable }}
<section class="bar background-video">
    <div class="container">

      <div class="col-md-12">
        <div class="row">
          <h1 class="text-uppercase text-center">{{ .Site.Params.video.title }}</h1>
          <!-- <p class="lead">{{ .Site.Params.title.subtitle }}</p> -->
        </div>
      </div>

      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/uSQn2puExxM"></iframe>
      </div>


    </div>
</section>
{{ end }}
{{ end }}
